* {
    font-family: "Manrope", sans-serif;
    font-style: normal;
}
.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.responsive-h1 {
    font-size: 1rem; /* font-size par défaut pour xs et sm*/
}

.bg-color-grey {
    background-color: #EDEDED;
}

.bg-color-yellow {
    background-color : #FFD15B;
    border-color: #FFD15B;
    color: black;
}

.mb {
    margin-bottom: 0.5rem;  /* margin-bottom par défaut pour xs et sm*/
}

.menu-max-height {
    max-height: 20rem;
    overflow-y: auto;
}

.form-height {
    height: 2rem; /* hauteur de ligne par défault */
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.btn.btn-dark.btn-hover:hover {
    background-color : #FFD15B;
    border-color: #FFD15B;
    color: black;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.1s ease;
  }

/* Style pour le champ de recherche dans le dropdown */
.dropdown-menu .search-container {
    display: flex;
    align-items: center;
}
.dropdown-menu .search-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0;
}
.dropdown-menu .search-button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}
.alert {
    width: 100%; /* Largeur par défaut */
}
.dropdown-menu {
    width: 100%; /* Correspond à l'alerte */
}

.dropdown-item:hover {
    background-color : #FFD15B;
}

/* Media queries */
@media (min-width: 768px) {     /* écran medium (md) */
    .responsive-h1 {
        font-size: 1.5rem;
    }
    .mb {
        margin-bottom: 4rem;
    }
    .form-height {
        height: 3rem;
    }
}

@media (min-width: 992px) {     /* écran large (lg) */
    .responsive-h1 {
        font-size: 2rem;
    }
    .mb {
        margin-bottom: 5rem;
    }
    .form-height {
        height: 4rem;
    }
}

@media (min-width: 1200px) {     /* écran extra large (xl) */
    
}

@media (min-width: 1400px) {     /* écran extra-extra large (xxl) */
    .responsive-h1 {
        font-size: 2.75rem;
    }
    .mb {
        margin-bottom: 8rem;
    }
}